{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Action - {{ act.act_type }}</h1>


    <p><strong>Time:</strong> {{ act.time }}</p>

    <p><strong>Notes:</strong> {{ act.notes }}</p>


    <p><strong>Created By:</strong> {{ current_user.username }}</p>

    <form method="POST" action="{{url_for('acts.delete', act_id=act.id)}}">
        <button type="submit" class="btn bg-light border border-info"> Delete Entry </button>
    </form>
</div>
<div>
<h2 class="m-4">Edit act</h2>

<form method="POST" action="{{ url_for('acts.detail', act_id=act.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        {{ form.act_type.label }}
        {{ form.act_type }}
        {{ form.time.label }}
        {{ form.time }}
        {{ form.notes.label }}
        {{ form.notes }}

        {{ form.submit }}
    </fieldset>
</form>
</div>
{% endblock %}