<!DOCTYPE html>
<html>

<head>
    <title>Blood Sugar Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content">
        <div class="navbar">
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
        <nav>
            <a href="/" class="btn bg-info" style="max-height:40px;">Home</a> 
            <div>
                {% if current_user.is_authenticated %}
                <div>
                    <a href="{{url_for('bs.new_bs')}}" class="m-2 btn bg-info"> New Blood Sugar</a>
                    <a href="{{url_for('bs.index')}}" class="btn bg-light border border-info">> View All</a>
                    <a href="{{url_for('acts.new_act')}}" class=" m-2 btn bg-success">New Action</a>
                    <a href="{{url_for('acts.index')}}" class="btn bg-light border border-success">> View All</a>
                    <a href="{{url_for('auth.logout')}}"class="text-dark left-0 btn btn-light border border-dark"> <small > logout </small></a>
                </div>
                {% else %}
                <a href="/signup">Sign Up</a>
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
        <!-- {% if current_user.is_authenticated %}
        <p>You are logged in as {{ current_user.username }}</p>
        {% endif %} -->
        {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>