{% extends 'base.html' %}
{% block content %}

<h1>Blood Sugar - {{ bs.bs }}</h1>

<strong>Time:</strong> {{ bs.time }}

<p><strong>Action</strong>: {{ bs.act }}</p>


<div class="items">
    {% for action in bs.action %}
    <div class="item-details">
        <p><strong>Actions</strong></p>
        <p><strong>{{ action.act_type }}</strong></p></a>
    </div>
    {% endfor %}
</div>
<form method="POST" action="{{url_for('bs.delete', bs_id=bs.id)}}">
    <button type="submit"> Delete Entry </button>
</form>
<h2>Edit Blood Sugar</h2>

<form method="POST" action="{{ url_for('bs.detail', bs_id=bs.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>
        {{ form.bs.label }}
        {{ form.bs }}

        <ul>
            {% for error in form.bs.errors %}
            <li class="'error"> {{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.time.label }}
        {{ form.time }}

        {{ form.action.label }}
        {{ form.action }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}